html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #c9cccf;
}

.grid-container {
  background-color: #c9cccf;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas: "desktop-nav desktop-nav desktop-nav"
  "header header aside"
    ". main aside"
    ". main aside"
  "footer footer footer";
}

.desktop-nav {
  grid-area: desktop-nav;
  background-color: #071829;
}

.mobile-nav {
  grid-area: mobile-nav;
  background-color: #071829;
}

.header {
  grid-area: header;
  background-color: #79bcff;
}

.main {
  grid-area: main;
  background-color: #adfff8;
}

.aside {
  grid-area: aside;
  background-color: #00e97c;
}

.footer {
  grid-area: footer;
  background-color: #424242;
  color: #ffffff;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }

  .grid-container {
    grid-template-areas: "mobile-nav mobile-nav mobile-nav"
    "header header header"
    "main main main"
    "aside aside aside"
    "footer footer footer";
  }
}

@media only screen and (min-width: 601px) {
  .mobile-nav {
    display: none;
  }
}